{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Antique Bakery Cafe HTML Template by Tooplate</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&family=Oswald:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}"> <!-- fontawesome -->
    <!-- <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
    <link rel="stylesheet" href="{% static 'css/tooplate-antique-cafe.css' %}">

<!--

Tooplate 2126 Antique Cafe

https://www.tooplate.com/view/2126-antique-cafe

-->
</head>
<body>
    <!-- Intro -->


                <h2 class="bg-white tm-text-brown py-6 px-12 text-4xl font-medium inline-block rounded-md">Our Cafe Menu</h2>
            </div>

            {% for i in ci %}
            <div class="flex flex-col lg:flex-row justify-around items-center">

                <div class="flex-1 m-5 rounded-xl px-4 py-6 sm:px-8 sm:py-10 tm-bg-brown tm-item-container"><br>
                    <img src="{{i.prodt.img.url}}" alt="{{i.prodt.name}}" class="rounded-md">
                    <div class="flex items-start mb-6 tm-menu-item">


                        <br>
                        <div class="ml-3 sm:ml-6"><br>

                            <h3 class="text-lg sm:text-xl mb-2 sm:mb-3 tm-text-yellow">{{i.prodt.id}}</h3>
                            <div class="text-white text-md sm:text-lg font-light mb-1">{{i.prodt.name}}</div>
                            <div class="text-white text-md sm:text-lg font-light mb-1">Price:{{i.prodt.price}}Rs</div>
                            <div class="text-white text-md sm:text-lg font-light mb-1">Total:{{i.total}}Rs</div>
                            <a href="{% url 'addcart' i.prodt.id %}"><i class='fas fa-plus-square'></i></a>   <a href="{% url 'dec' i.prodt.id %}"><i class='fas fa-minus-square'></i></a>
                            <div class="text-white text-md sm:text-lg font-light">QTY:{{i.quan}}</div>
                            <div class="text-white text-md sm:text-lg font-light">Stock:{{i.prodt.stock}}</div>
                            <a href="{% url 'remove' i.prodt.id %}">Delete</a>


                        </div>
                    </div>
                </div>
            </div>

{% endfor %}
     <div class="flex flex-col lg:flex-row justify-around items-center">

                <div class="flex-1 m-5 rounded-xl px-4 py-6 sm:px-8 sm:py-10 tm-bg-brown tm-item-container"><br>
                    <div class="text-white text-md sm:text-lg font-light mb-1">Total:{{t}}Rs</div>
                    <div class="flex items-start mb-6 tm-menu-item">

<!--                    <div class="flex items-start mb-6 tm-menu-item">-->
<!--                        <img src="{% static 'img/menu-item-2.jpg' %}" alt="Image" class="rounded-md">-->
<!--                        <div class="ml-3 sm:ml-6">-->
<!--                            <h3 class="text-lg sm:text-xl mb-2 sm:mb-3 tm-text-yellow">Hot Americano</h3>-->
<!--                            <div class="text-white text-md sm:text-lg font-light mb-1">S $9.50 . BG #544639</div>-->
<!--                            <div class="text-white text-md sm:text-lg font-light">L $12.50</div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="flex items-start mb-6 tm-menu-item">-->
<!--                        <img src="{% static 'img/menu-item-3.jpg' %}" alt="Image" class="rounded-md">-->
<!--                        <div class="ml-3 sm:ml-6">-->
<!--                            <h3 class="text-lg sm:text-xl mb-2 sm:mb-3 tm-text-yellow">Hot Latte #FC6</h3>-->
<!--                            <div class="text-white text-md sm:text-lg font-light mb-1">M $11.75</div>-->
<!--                            <div class="text-white text-md sm:text-lg font-light">L $14.75</div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="flex items-start mb-6 tm-menu-item">-->
<!--                        <img src="{% static 'img/menu-item-4.jpg' %}" alt="Image" class="rounded-md">-->
<!--                        <div class="ml-3 sm:ml-6">-->
<!--                            <h3 class="text-lg sm:text-xl tm-text-yellow mb-1">Hot Espresso</h3>-->
<!--                            <h3 class="text-lg sm:text-xl mb-2 sm:mb-3 tm-text-yellow">Hot Chocolate</h3>-->
<!--                            <div class="text-white text-md sm:text-lg font-light">Size M $11.75 . L $14.75</div>-->
<!--                        </div>-->
<!--                    </div>-->


    </script>
</body>
</html>