{% load static %}
{% block body %}

<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>spicy</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static 've/css/bootstrap.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" href="{% static 've/css/style.css' %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 've/css/responsive.css' %}">
      <!-- fevicon -->
      <link rel="ve/icon" href="{% static 've/images/fevicon.png" type="image/gif' %}" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static 've/css/jquery.mCustomScrollbar.min.css' %}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="{% static 've/images/loading.gif' %}" alt="#" /></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="container">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo">
                              <a href="index.html"><img src="{% static 've/images/logo.png' %}" alt="#" /></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">

                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end header inner -->
      <!-- end header -->
      <!-- banner -->
      <section class="banner_main">
         <div class="container">
         <div class="row d_flex">
            <div class="col-md-6">
               <div class="text-bg">
                  <h1>Healthy Food Recipes</h1>

            </div>
            <div class="col-md-6">

            </div>
         </div>
      </section>
      <!-- end banner -->
      <!-- food -->
      <div class="food">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2> <strong class="yellow">Food </strong>Packages</h2>
                     
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <div class="food_box">
                     <i><img src="{{pr.img.url}}" alt="#"/></i>
                     <h4>{{pr.name}}</h4>
                     <h4>{{pr.desc}}</h4>
                     <h4>Price:{{pr.price}}Rs </h4>
                     <h4>Stock:{{pr.stock}} </h4>
                     {% if pr.stock <= 0 %}
                     <h1>sorry</h1>
                     {% else %}

                     <a href="{% url 'addcart' pr.id %}">Add To CarT</a>
                     {% endif %}
                  </div>
               </div>


            </div>
         </div>
      </div>
      <!-- end food -->
      <!-- works -->

      <!-- end clients -->
      <!--  footer -->

      <!-- end footer -->
      <!-- Javascript files-->
      <script src="{% static 've/js/jquery.min.js' %}"></script>
      <script src="{% static 've/js/popper.min.js' %}"></script>
      <script src="{% static 've/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 've/js/jquery-3.0.0.min.js' %}"></script>
      <!-- sidebar -->
      <script src="{% static 've/js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="{% static 've/js/custom.js' %}"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
   </body>
{% endblock %}
</html>
